= form_for(@issue) do |f|
  - if @issue.errors.any?
    #error_explanation"
      h2
        = pluralize(@issue.errors.count, "error")
        ' prohibited this issue from being saved:

      ul
      - @issue.errors.full_messages.each do |message|
        li
          = message

  md-input-container flex=""
    = f.label :name, 'Nome'
    = f.text_field :name

  div layout="row" lauoyt-align="center start"
    = f.submit 'Salvar', :class => "md-button md-raised md-accent"
    = link_to 'Cancelar', issues_path, :class => "md-button md-raised"
