$primary_color: #3F51B5;
$primary_color_light: #5567CB;

#map{
  height: 300px;
}

// Text
.text-center{
  text-align: center;
}

.title-subheader{
  background-color: $primary_color_light;
  padding: 40px 15px 25px;
  color: #FFF;
  margin: -20px 0px 0px 0px;
}

.title-subheader.show p,
.title-subheader.show h4{
  margin: 3px 0px;
}

.title-subheader.show h2{
  margin: 10px 0px;
}

a .mdl-card{
  height: auto;
}

.details-card-image .mdl-card__actions a{
  color: #FFF;
  padding: 4px;
}

a.card_link{
  text-decoration: none;
}


// Buttons
.btn-padding{
  padding: 5px;
}

.md-fab-float{
  float: right;
  position: absolute;
  bottom: -30px;
  right: 40px;
}
.mdl-button--fab.mdl-button--colored{
  background-color: #00CFAD;
}

.mdl-button--fab.mdl-button--colored:hover{
  background-color: lighten(#00CFAD, 2%);
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
  background-color: #00CFAD;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised:hover, .mdl-button--accent.mdl-button--accent.mdl-button--fab:hover {
  background-color: lighten(#00CFAD, 2%);
}

// Layout

.mdl-layout__header-row{
  padding: 0px 40px 0px 40px;
}

.mdl-layout__header-row .logo{
  height: 34px;
  width: auto;
  display: block;
}

.mdl-tabs__tab.is-active{
  border-bottom: 3px solid $primary_color !important;
  color: $primary_color !important;
}

.image-show{
  width: 300px;
  height: auto;
  margin: 0px 5px 5px 0px;
}

.media-style{
  float: left;
  margin: 0px 8px 8px 0px;
}

.details-card-image{
  width: 240px;
  height: 240px;
  background: center / cover;
}

.btn-table-fix{
  margin-top: -6px;
}

// Devise errors

.devise_error{
  background-color: #FF4081;
  color: #FFF;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 15px;
  opacity: 0.8;
}

.devise_error ul{
  list-style: none;
}

.notice, .alert{
  position: absolute;
  z-index: 999999;
  background-color: #FFF;
  color: #666;
  padding: 20px 30px;
  border-radius: 5px;
  margin: 20px 0 auto;
  text-align: center;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

// Login
html, body{
  margin: 0px;
  padding: 0px;
}

.logo-login{
  height: 140px;
  width: auto;
  margin: 0 auto;
  display: block;
}

.login .mdl-layout {
  align-items: center;
  justify-content: center;
}

.login .mdl-layout__content {
  padding: 24px;
  flex: none;
}

.login:before{
  background:image-url('login-bg.jpg') no-repeat center;
  background-size: cover;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;  
}

.login:after{
  background-color: rgba($primary_color,0.5);
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;  
}

.login .content{
  position: relative;
  z-index: 3;
  width: 100%;
  min-height: 100vh;
}

.login .content .login-box{
  background-color: #FFF;
  opacity: 0.92;
  min-width: 440px; 
  padding: 10px 40px;
  border-radius: 8px;
}


